{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "off",
    "import/no-unresolved": "off",
    "object-curly-spacing": ["error", "never"]
  }
}
