div.footer {
    height: 100px;
    width: 100%;
    background-color: purple;
}

div.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

div.search-box {
    max-width: 650px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

div.feedback-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
}

div.bazarr-background-image {
    background-image: url("https://images5.alphacoders.com/573/thumb-1920-573228.jpg");
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    opacity: 0.84;
    width: 100%;    
    height: auto;
    color: white;
}

nav.navbar-default {
    border: transparent !important;
    background-color: transparent !important;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
}

a.home-link {
    color: white;
}

div.search-navbar {
    margin: 'auto';
    padding: '25px 0 0 0';
    max-width:'600px';
}

body {
    font-family: 'Roboto', sans-serif;
}